/*general*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%; }

/*header*/
header {
  background-image: linear-gradient(to left, #8ed16b, #9ad963, #a7e15a, #b6e950, #c6f043, #d3ef3e, #dfee3b, #ebec38, #f2e341, #f7da4b, #fad155, #fbc95f);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: auto;
  padding: 15px; }
  header h1 {
    font-weight: bolder; }
  header .menu {
    display: flex;
    flex-direction: row;
    margin-bottom: auto;
    gap: 20px;
    list-style-type: none;
    text-decoration: none;
    padding-right: 20px;
    font-size: 1.5em; }
  header a {
    text-decoration: none;
    color: black; }
  header .menu > li > a:hover {
    color: white; }
  header .titulo {
    color: black;
    font-size: 3em; }
  header .titulo:hover {
    transform: scale(1.1); }
  @media screen and (max-width: 768px) {
    header .menu {
      font-size: .9em;
      gap: 10px; }
    header .titulo {
      font-size: .9em; } }
  @media screen and (max-width: 400px) {
    header .menu {
      font-size: .8em; } }

/*body*/
body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 8vh auto 5vh;
  grid-template-areas: "header" "main" "footer"; }
  body main {
    background-image: linear-gradient(to left, #8ed16b, #9ad963, #a7e15a, #b6e950, #c6f043, #d3ef3e, #dfee3b, #ebec38, #f2e341, #f7da4b, #fad155, #fbc95f);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    font-family: 'Shadows Into Light', cursive;
    font-size: x-large; }

/*footer*/
footer {
  background-image: linear-gradient(to left, #8ed16b, #9ad963, #a7e15a, #b6e950, #c6f043, #d3ef3e, #dfee3b, #ebec38, #f2e341, #f7da4b, #fad155, #fbc95f);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: right;
  gap: auto;
  text-align: right;
  padding-right: 2%;
  padding-top: 10px; }

/*home*/
.section_one {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: auto;
  align-items: center;
  gap: 20px;
  font-size: xx-large; }
  .section_one #carouselExampleControls {
    width: 500px;
    max-height: 300px;
    margin-top: 50px; }
  .section_one h7 {
    font-weight: bolder;
    font-size: xx-large; }
  .section_one article {
    font-weight: bolder;
    margin-top: 50px; }
  @media screen and (max-width: 768px) {
    .section_one .section_one {
      display: flex;
      flex-direction: column;
      font-size: medium;
      margin-top: 30px; }
    .section_one #carouselExampleControls {
      width: 400px; } }
  @media screen and (max-width: 400px) {
    .section_one #carouselExampleControls {
      width: 300px; } }

/*quienes somos*/
#header_nosotros {
  background-image: linear-gradient(to left, green, orange); }

#main_nosotros {
  background-image: linear-gradient(to left, green, orange); }
  #main_nosotros #accordionExample {
    width: 500px;
    margin-right: 15px;
    font-family: 'Times New Roman', Times, serif; }
  #main_nosotros .accordion-button {
    font-size: xx-large;
    background-image: linear-gradient(to left, #8ed16b, #9ad963, #a7e15a, #b6e950, #c6f043, #d3ef3e, #dfee3b, #ebec38, #f2e341, #f7da4b, #fad155, #fbc95f); }
  #main_nosotros #video_center {
    margin-top: 50px;
    margin-right: 20px; }

#footer_nosotros {
  background-image: linear-gradient(to left, green, orange); }

@media screen and (max-width: 1155px) {
  #video_center {
    margin-bottom: 100px; } }

/*contacto*/
#divisor_contacto {
  margin-left: 50px; }
  #divisor_contacto .row {
    margin-top: 50px;
    margin-bottom: 10px; }

@media screen and (max-width: 768px) {
  #divisor_contacto {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px; } }

@media screen and (max-width: 400px) {
  form {
    font-size: .8em; } }

/*puntos de venta*/
#fondo_pantalla {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px; }
  #fondo_pantalla .lugar__encuentro {
    text-align: center; }
  #fondo_pantalla .container {
    display: flex;
    flex-direction: row;
    justify-content: auto;
    align-items: auto;
    gap: 100px;
    text-align: center;
    margin-top: 50px;
    max-width: 1200px;
    max-height: 600px; }
    #fondo_pantalla .container img {
      max-width: 483px;
      max-height: 281px; }
  #fondo_pantalla p {
    font-weight: bolder;
    text-align: center;
    font-size: 1.5em; }
  #fondo_pantalla .card-body {
    background-image: linear-gradient(to left, #8ed16b, #9ad963, #a7e15a, #b6e950, #c6f043, #d3ef3e, #dfee3b, #ebec38, #f2e341, #f7da4b, #fad155, #fbc95f); }
  #fondo_pantalla .card {
    background-image: linear-gradient(to left, #8ed16b, #9ad963, #a7e15a, #b6e950, #c6f043, #d3ef3e, #dfee3b, #ebec38, #f2e341, #f7da4b, #fad155, #fbc95f); }
  #fondo_pantalla .card-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium; }
  #fondo_pantalla .card-title {
    font-size: xx-large;
    font-weight: bolder;
    text-align: center; }
  #fondo_pantalla .btn, #fondo_pantalla .btn-primary {
    font-size: medium; }
  #fondo_pantalla .btn-primary {
    border-style: groove;
    border-color: black; }

@media screen and (max-width: 768px) {
  p {
    text-align: center; }
  .container {
    display: flex;
    flex-direction: column;
    gap: 50px; }
    .container .card {
      max-width: 100%; } }

/*galeria*/
#galery_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30vh 40vh 30vh;
  grid-gap: 10px; }

h5 {
  font-size: xx-large; }

.img-gato {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.img-tigre {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.img-nutria {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.img-iguana {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.img-perro {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.img-conejo {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.img-lagartija {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.img-gatito {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.img-koala {
  width: 100%;
  height: 100%;
  object-fit: cover; }

@media screen and (max-width: 768px) {
  #galery_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30vh 40vh 30vh;
    grid-gap: 10px; } }

@media screen and (max-width: 400px) {
  #galery_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30vh 40vh 30vh;
    grid-gap: 10px; } }
