body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 8vh auto 5vh;
    grid-template-areas:

        "header"
        "main"
        "footer";

        main {
            background-image: linear-gradient(to left, #ffffff, #e5ebf7, #c1dbec, #96ccda, #70bdbc, #70bdbc, #70bdbc, #70bdbc, #96ccda, #c1dbec, #e5ebf7, #ffffff);
            display: flex;
            @include flex(column, center, center, 20px);
            padding: 20px;
            font-family: 'Shadows Into Light', cursive;
            font-size: x-large;
        }



}