footer {
    background-image: linear-gradient(to left, #8ed16b, #9ad963, #a7e15a, #b6e950, #c6f043, #d3ef3e, #dfee3b, #ebec38, #f2e341, #f7da4b, #fad155, #fbc95f);
    display: flex;
    @include flex(row, flex-end, right, auto);
    text-align: right;
    padding-right: 2%;
    padding-top: 10px;
    gap: 15px;


}