footer {
    background-image: linear-gradient(to left, #ffffff, #e5ebf7, #c1dbec, #96ccda, #70bdbc, #70bdbc, #70bdbc, #70bdbc, #96ccda, #c1dbec, #e5ebf7, #ffffff);
    display: flex;
    @include flex(row, flex-end, right, auto);
    text-align: right;
    padding-right: 2%;
    padding-top: 10px;
    gap: 15px;




}