header {
    background-image: linear-gradient(to left, #8ed16b, #9ad963, #a7e15a, #b6e950, #c6f043, #d3ef3e, #dfee3b, #ebec38, #f2e341, #f7da4b, #fad155, #fbc95f);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: flex-end;
    

    h1 {

        font-weight: bolder;
    }

    .menu {

        display: flex;
        flex-direction: row;
        margin-bottom: auto;
        gap: 20px;
        list-style-type: none;
        text-decoration: none;
        padding-right: 20px;
        font-size: 1.5em;
        
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    .menu>li>a:hover {
        color: white;
    
    }

    .titulo {

        color: black;
        font-size: 3em;
    }
    
    .titulo:hover {
        transform: scale(1.1);
    
    }

}

@media screen and (max-width:768px) {

    
    .menu {
        font-size: .9em;
        gap: 10px;
    }

    .titulo {
        font-size: .9em;
    }

}

@media screen and (max-width:400px) {

    .menu {

        font-size: .8em;
    }


}