header {
    background-image: linear-gradient(to left, #ffffff, #e5ebf7, #c1dbec, #96ccda, #70bdbc, #70bdbc, #70bdbc, #70bdbc, #96ccda, #c1dbec, #e5ebf7, #ffffff);
    display: flex;
    @include flex(row, space-between, flex-end, auto);
    padding: 15px;


    h1 {
        font-weight: bolder;
    }

    .menu {
        display: flex;
        flex-direction: row;
        margin-bottom: auto;
        gap: 20px;
        list-style-type: none;
        text-decoration: none;
        padding-right: 20px;
        font-size: 1.5em;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .menu>li>a:hover {
        color: white;
    }

    .titulo {
        color: black;
        font-size: 3em;
    }

    .titulo:hover {
        transform: scale(1.1);
    }

    @media screen and (max-width: 768px) {

        .menu {
            font-size: .9em;
            gap: 10px;
        }

        .titulo {
            font-size: .9em;
        }

    }

    @media screen and (max-width:400px) {

        .menu {

            font-size: .8em;
        }

    }
}