#galery_container {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30vh 40vh 30vh;
    grid-gap: 10px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

}

h5 {
    font-size: xx-large;

}

@media screen and (max-width:768px) {

    #galery_container {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 30vh 40vh 30vh;
        grid-gap: 10px;

    }

}

@media screen and (max-width:400px) {

    #galery_container {

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30vh 40vh 30vh;
        grid-gap: 10px;
    }
}