.section_one {

    text-align: center;
    display: flex;
    @include flex(column, auto, center, 20px);
    font-size: xx-large;

    #carouselExampleControls {

        width: 500px;
        max-height: 300px;
        margin-top: 50px;
    }


    h7 {

        font-weight: bolder;
        font-size: xx-large;
    }

    article {
        font-weight: bolder;
        margin-top: 50px;
    }

    @media screen and (max-width:768px) {

        .section_one {
    
            display: flex;
            flex-direction: column;
            font-size: medium;
            margin-top: 30px;

        }

        #carouselExampleControls {
    
            width: 400px;
        }
    }
    
    
    @media screen and (max-width:400px) {
    
            #carouselExampleControls {
    
                width: 300px;
            }
    }

}


