.section_one {

    text-align: center;
    display: flex;
    @include flex(column, auto, center, 20px);
    font-size: xx-large;
    gap: 20px;
    

    #carouselExampleControls {

        width: 500px;
        max-height: 300px;
        margin-top: 40px;
    }

    .spinner {
        display: flex;
        flex-direction: row;
        gap: 50px;
        margin: auto;


    }

    h7 {

        font-weight: bolder;
        font-size: xx-large;
    }

    article {
        font-weight: bolder;
        margin-top: 85px;
    }



}


@media screen and (max-width: 768px) {

    header {
        display: flex;
        flex-direction: column;
        
    }

    h7 {

        padding-top: 50px;
    }

    footer {

        height: 50vh;

       
    }

}

