#main_nosotros {


    #accordionExample {

        width: 500px;
        margin-right: 15px;
        font-family: 'Times New Roman', Times, serif;

    }

    .accordion-button {

        font-size: xx-large;
        background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    }

    .accordion-body {
        background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    }

    #video_center {

        margin-top: 50px;
        margin-left: 25px;
    }
}

@media screen and (max-width: 768px) {

   

}