#header_nosotros {
    background-image: linear-gradient(to left, #8ed16b, #9ad963, #a7e15a, #b6e950, #c6f043, #d3ef3e, #dfee3b, #ebec38, #f2e341, #f7da4b, #fad155, #fbc95f);
}


#main_nosotros {
    background-image: linear-gradient(to left, #8ed16b, #9ad963, #a7e15a, #b6e950, #c6f043, #d3ef3e, #dfee3b, #ebec38, #f2e341, #f7da4b, #fad155, #fbc95f);


    #accordionExample {

        width: 500px;
        margin-right: 15px;
        font-family: 'Times New Roman', Times, serif;
    
    }

    .accordion-button {

        font-size: xx-large;
        background-image: linear-gradient(to left, #8ed16b, #9ad963, #a7e15a, #b6e950, #c6f043, #d3ef3e, #dfee3b, #ebec38, #f2e341, #f7da4b, #fad155, #fbc95f);
    }

    #video_center {

        margin-top: 50px;
        margin-right: 20px;
    }
}



@media screen and (max-width:1155px) {



    #video_center {

        margin-bottom: 100px;
    }

}